html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

[hidden], template {
    display: none
}

nav ul {
    list-style: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #BFBFBF;
    margin: 1em 0;
    padding: 0;
    clear: both
}

.container, .container-5 {
    max-width: 1170px;
	min-width: 900px;
    margin: 0 auto;
    position: relative;
	padding: 0 20px;
}

.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 { 
	display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px
}

.alpha {
    margin-left: 0
}

.omega, #user-role .span-1 {
    margin-right: 0;
    border-right: none
}

.span-12 {
    width: 460px
}

.span-15 {
    width: 580px
}

.box {
    padding: 0 1.5em
}

#utility-links {
    font-family: "gentona", Arial, Helvetica, sans-serif
}

html {
    font-size: 100.01%
}

body {
    font-size: 85%;
    background: #fff;
	border-top: 3px solid #fe8c35;
}

h1, h2 {
    color: #00529b;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

h1 {
    font-size: 2.2em;
    letter-spacing: 0.15em;
    text-shadow: -2px 2px 0 #ccddeb;
    text-transform: uppercase
}

h2 {
    font-size: 1.8em;
    letter-spacing: 0.075em
}

h3, h4, h5 {
    font-weight: normal;
    color: #00529b;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em
}

h3 {
    font-size: 1.25em;
    line-height: 1
}

h4 {
    font-size: 1.1em;
    line-height: 1.25
}

h5 {
    font-size: 1em
}

h6 {
    font-size: 1em;
    font-family: "gentona", Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 0.5em;
    letter-spacing: 0.05em;
    color: #404040
}

p {
    margin: 0 0 1.75em 0;
    line-height: 1.75em
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #00529b;
    text-decoration: none;
}

a:hover, a:active {
    outline: none
}

a:active, a:visited {
    color: #00529b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li ul, li ol {
    margin: 0
}

ul, ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em
}

ul {
    list-style-type: none
}

ol {
    list-style-type: decimal
}

li ul, li ol {
    margin-top: .7em
}

#feature-wrap, #content-wrap {
    background-color: #243778;
}

#content {
    background-color: #fff;
    padding: 35px 0
}

#feature-wrap {
    overflow: hidden;
    max-height: 600px !important
}

.img-button {
    margin-top: -14px;
    margin-left: -7px;
    text-align: center
}

.img-button a, .img-button img {
    border: none !important
}

.screen-reader-text {
    position: absolute;
    left: -9999px
}

html {
    overflow-y: scroll
}

nav ul, nav li {
    padding-left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none
}

nav a {
    text-decoration: none;
    display: block
}

td, td img {
    vertical-align: top
}

::selection {
    background: #ccddeb;
    text-shadow: none
}

header {
    z-index: 99998;
    background-color: #fff;
	margin-bottom: 35px;
}

#header-title {
    margin-top: 36px;
    *padding-bottom: 8px
}

#header-title div.alt {
    display: none
}

#header-title-text-right {
    float: left;
    border-left: 2px solid #FF4A00;
    padding-left: 6px;
    max-width: 470px;
    height: 48px;
    margin: 0
}

#utility-links {
    float: left;
    margin: 0;
    padding: 0;
    font-size: .85em;
    overflow: visible;
    height: 18px
}

#utility-links .first {
    margin-left: 0
}

#utility-links li {
    float: left;
    margin-right: 5px;
    /*height: 1.2em;
    padding: 2px 0*/
}

#utility-links li:last-child {
    margin-right: 0
}

#header-search-wrap {
    /*height: 80px;*/
    position: relative;
    margin-top: 60px;
    float: right
}

/*#searchform-wrap {
    height: 49px;
    width: 278px;
    position: relative;
    left: 0;
    margin-top: 18px
}*/

#header-search-field {
    border: 1px solid #BFBFBF;
    border-radius: 2px;
    color: #7F7F7F;
    font-size: 1em;
    height: 12px;
    margin: 0;
    padding: 7px;
    position: absolute;
    top: 10px;
    width: 250px
}

#header-search-btn {
    position: absolute;
    right: 14px;
    top: 12px
}

#header-actionitem {
    border-bottom: 1px solid #ca561f;
    bottom: 0;
    position: absolute;
    right: 25px;
    padding: 7px 18px 5px 18px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 1px #B75A29;
    background-color: #FF4A00;
    width: auto;
    color: #fff;
    font-family: "gentona", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 1.1em
}

#header-actionitem #selector {
    background: url("../../images/bg-breadcrumb-item.html") no-repeat scroll top left;
    width: 10px;
    height: 21px
}


#social-content {
    padding: 8px 0 1px;
    border-top: 3px solid #ccddeb;
    border-bottom: 1px solid #ccddeb;
    float: left;
    width: 100%
}

.ie7 #social-content {
    padding-bottom: 10px
}

#social-content div {
    margin-bottom: 6px;
    float: left
}

.pagination {
    clear: both;
    padding: 20px 0;
    position: relative;
    font-size: 11px;
    line-height: 13px
}

.pagination .page-of {
    background-color: #fff;
    color: #404040;
    border: none
}

.pagination span, .pagination a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #404040;
    background: #ccddeb;
    border-radius: 2px;
    border: 1px solid #ccddeb;
    font-weight: bold
}

.pagination a:hover {
    background: #ccddeb
}

.pagination .current {
    padding: 6px 9px 5px 9px;
    background: #00529b;
    color: #fff;
    border: 1px solid #00529b
}

#local-sidebar {
    float: left;
    margin-bottom: 10px;
    padding-left: 1px
}

.ie7 nav li {
    min-height: 0;
    line-height: 1.4em
}


.hidden {
    display: none;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
    visibility: hidden;
}

.clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearfix:after, .container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.clearfix, .container {
    display: block;
}

.clear {
    clear: both;
}

.alignnone {
    margin: 0px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 0px auto 5px auto;
}

.alignright {
    float: right;
    margin: 0px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 0px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 0px auto 5px auto;
}

p.smaller {
    font-size: 1.1em;
}

hr {
    margin: 25px 0;
}

h4 {
    margin: 20px 0 10px 0;
}

.content-wrap h3 {
    margin-top: 1.5em;
}

button, .button {
    width: auto;
    overflow: visible;
    color: #fff;
    background-color: #FF4A00;
    border: 1px solid #FF4A00 !important;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}

button:visited, .button:visited, .gform_button:visited {
    color: #fff;
}

button:hover, button:active, .button:hover, .button:active, .gform_button:hover, .gform_button:active {
    color: #fff;
    background-color: #e28f41;
    border: 1px solid #B75A29 !important;
    cursor: pointer;
}

.children {
    list-style-type: none;
}



/*//////////////////////////////////////////////////////
~~~~~~~~ UPDATED STYLES FOR LANDING PAGE ~~~~~~~~
/////////////////////////////////////////////////////*/


/*Navigation*/
#primary-nav {
    background-color: #f1f1f1;
    bottom: 0;
    font-size: 13px;
    height: 40px;
    left: 0;
    padding-left: 0;
    position: relative;
    z-index: 9988 !important;
    border-top: 1px solid #9da3bd;
    border-bottom: 3px solid #9da3bd;
}

#primary-nav .container {
    z-index: 99999;
	padding-left: 40px;
}

#primary-nav li {
    float: left;
}

#primary-nav li:hover {
	text-decoration: none;
}

#primary-nav a {
    color: #243778;
    display: block;
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
    height: 20px;
    padding: 14px 13px 6px;
}

#primary-nav a:hover {
	text-decoration: none;
	background-color: #e5e5e5;
}

.activenav {
	text-decoration: none;
	background-color: #e5e5e5;
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#primary-nav .activenav a {
	color: #555555;	
}

#primary-nav .children {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-top: 5px;
}

#primary-nav .children li {
    background-image: none;
    height: 100%;
    float: none;
}

#primary-nav .parent li.current_page_item a {
    color: #fff
}

#primary-nav .children a {
    padding: 10px 25px;
    text-align: left;
    height: 100%;
    background-image: none;
    border: none;
	color: #000;
}

#primary-nav .children a:hover {
	background-color: #243778;
	color: #fff;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align:top;
	border-top: 4px solid #555;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	margin-top: 8px;
}

.children:before {
	position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}

/*Main Content*/
#feature {
	text-align: center;
	padding: 30px 0;
	
}

#secondary {
    background-color: #fff;
    overflow: hidden;
	font-family: 'Roboto Condensed',sans-serif;
}

#secondary .container {
    height: auto; 
    margin: 20px auto;
    overflow: hidden;
	max-width: 1000px;
}

#secondary h3 {
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 300;
    font-size: 28px;
    color: #243778;
    margin: 0;
    padding: 0px 10px;
	line-height: 32px;
}

#secondary .upper-container h3 {
	float: left;
	width: 580px;
}

#secondary h4 {
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 200;
    font-size: 24px;
    color: #243778;
    margin: 0 0 20px;
}

#secondary h5 {
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 400;
    font-size: 18px;
    color: #243778;
    margin: 0;
}

#secondary .container p {
	font-size: 16px;
	margin: 0px;
}

#secondary .peoplebox h3 {
	padding: 15px 0;
}

.upper-container {
	padding-bottom: 5px;
	height: 160px;
}

/*Countdown Clock Styles*/
.countdown-clock {
	float: right;
	width: 400px;
	margin: auto;
	text-align: center;
	border-radius: 4px;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 20px;
	background-color: #f36f21;
}

#secondary .container .countdown-clock p {
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 20px;
}

#days, #hours, #minutes, #seconds {
	display: inline-block;
	width: 80px;
	background-color: #005496;
	padding: 15px 0;
	color: #fff;
}

.unit {
	display: inline-block;
	width: 80px;
	padding: 5px 0;
}
/*end countdown clock styles*/


.secondary-content-container {
	margin-top: 40px;
	clear: both;
}

#secondary .content-columns {
	width: 48%;
	float: left;
	height: auto; 
}

#secondary .content-columns-people {
	width: 100%;
	float: left;
	height: auto; 
}

#secondary .home-block {
	margin-right: 23px;
}

#secondary ul {
    padding-left: 0px;
    position: relative;
}

#secondary ul li {
    padding: 10px 0 0 18px;
    min-width: 0;
    font-size: 18px;
}

/*Table Styles*/

table {
    border-collapse: collapse;
    border-spacing: 0;
	margin: 0 0 20px;
    overflow: visible;
    width: 100%;
}

th {
    font-weight: bold;
}

tbody td {
    background: #fff;
    padding: 12px;
}

th, thead th {
    border-bottom: 2px solid #FF4A00;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 90%;
    text-align: left;
}

td ul {
    margin: 15px 5px 15px 0;
    padding-left: 0;
}

#secondary tr {
	border-bottom: 1px solid #E8EFF5;
	border-top: 1px solid #E8EFF5;
}

/*Form Styles*/

form {
	max-width: 900px;
	margin: auto;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
}

#dataform span {
	color: #AA0002;
}

label {
	font-size: 16px;
	margin-right: 5px;
}

input {
	font-size: 16px;
	margin: 13px 15px 15px 0;
    vertical-align: middle;
}

input[type=radio] {
	margin: 11px 5px 15px 10px;
}

input[type=checkbox] {
	margin: 3px 5px 3px 15px;
}

select {
    vertical-align: middle;
	margin: 13px 15px 15px 0;
}

#secondary .container form p {
	font-size: 16px;
	padding-left: 20px;
}

fieldset {
	border: 1px solid #ccc;
    border-radius: 5px;
	font-size: 16px;
}

legend {
	margin-left: 10px;
}

fieldset input[type=checkbox] {
	margin: 10px 5px 16px 20px;
}

#secondary .container form fieldset p {
	padding-top: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
	margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit] {
	background-color: #464545;
	color: #fff;
}

input[type=reset] {
	background-color: #fff;
}


input[type=submit], input[type=reset] {
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid #838181;
	padding: 2px 10px 3px;
	text-align: center;
}

/*Footer Content*/
footer {
	background: url("images/bg-institutional-footer-wrap.jpg") repeat-x scroll 0 top white;
	position: relative;
	font-family: 'Roboto Condensed',sans-serif;
}

.site-footer {
	margin-top: 40px;
	margin-bottom: 10px;
}

.site-footer .container {
    position: relative;
    padding: 20px 0;
	max-width: 1170px;
	min-width: 900px;
}

#footer-content .uf-monogram {
  background: url("images/uf_monogram.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 48px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  top: -20px;
  width: 48px; 
}

#block-block-5 {
	margin-top: 30px;
}

footer .uf-logo {
    float: right; 
	padding-right: 20px;
}

footer .footerlinks {
	padding-left: 20px;
}

footer h3 {
	display: none;
}

footer ul, footer ol {
	padding: 0px;
}

footer ul {
	font-size: 14px;
	margin: 0px;
	display: block;
}

footer li {
	border-right: 1px solid #ccc;
	display: inline;
	float: left;
	margin-right: 4px;
	padding-right: 4px;
	line-height: 20px;
}

footer p {
	line-height: 130%;
	font-size: 14px;
	margin: 0px;
	clear: left;
}